<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-6 footer-info">
                    <h3>Minhaj Lab</h3>
                    <p>Minhaj Lab has been providing quality diagnostic services in Pakistan. Over the past years, we have focused on the provision of innovative and high-quality pathology services, and have expanded into multiple related areas of healthcare.
                        Since our inception, we have delivered healthcare services to our patients with timely results and accurate diagnosis.</p>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6  footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Basement Shabnam Centre.<br> Opp. Shalimar Hospital Link Road Lahore.<br>
                        <strong>Phone:</strong> 042 36821981, 36880455<br>
                        <strong> Mobile: </strong>0300 4102701<br>
                        <strong>Email: </strong>info@minhajlab.com.pk<br>
                    </p>
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>minhajLab</strong>. All Rights Reserved
        </div>
    </div>
</footer>