.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.footer {
    text-align: center;
    background: rgba(200, 249, 255, 0.692);
}

.tdbooktest {
    width: 50%;
    word-wrap: normal;
}

.text-align-center {
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
}

tbody {
    height: 250px;
    min-height: 250px;
}

.example-full-width {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.maindiv {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.form2 {
    background-color: rgba(153, 205, 50, 0.219);
    min-height: 300px;
}

@media screen and (max-width: 800px) {
    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 500px) {
    .tdbooktest {
        width: 40%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}