<!-- <app-header></app-header> -->
<div id="wrapper" class="col-md-12 maindiv">
    <div class="panel-body col-md-6">
        <mat-toolbar>
            <h2>Place your Test Booking</h2>
            <span class="fill-remaining-space"></span>
            <!-- <button class="btn-dialog-close" mat-stroked-button (click)="onClick()" tabindex="-1">
                <mat-icon>clear</mat-icon>
            </button> -->
        </mat-toolbar>
        <form [formGroup]="BookLabTest" class="example-form" [style.fontSize.px]="14">
            <div class="flex-1">
                <mat-form-field class="example-full-width">
                    <span matPrefix class="material-icons">account_circle &nbsp;</span>
                    <input formControlName="name" type="text" placeholder="Name" matInput required>
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-1">
                <mat-form-field class="example-full-width">
                    <span matPrefix class="material-icons">groups &nbsp;</span>
                    <input formControlName="age" type="text" maxlength="3" placeholder="age" matInput required>
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-1">
                <mat-form-field class="example-full-width">
                    <span matPrefix class="material-icons">phone &nbsp;</span>
                    <input formControlName="phoneNo" type="text" maxlength="11" placeholder="Phone No" matInput required>
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-1">
                <mat-form-field class="example-full-width">
                    <span matPrefix class="material-icons">place &nbsp;</span>
                    <input formControlName="address" type="text" placeholder="address" matInput required>
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-1">
                <mat-form-field class="example-full-width" appearance="fill">
                    <span matPrefix class="material-icons">biotech &nbsp;</span>
                    <input type="text" placeholder="Test" aria-label="Test" matInput formControlName="test" [matAutocomplete]="auto" required>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="testselecion($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.testname}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>

            <div class="input-group">
                <mat-form-field class=" example-full-width ">
                    <span matPrefix class="material-icons">image &nbsp;</span>
                    <ngx-mat-file-input formControlName="Prescription" accept="image/* " placeholder="Upload Doctor Prescription">
                    </ngx-mat-file-input>
                </mat-form-field>

            </div>


            <div class="mr-2 ml-2 mt-3 input-group-append justify-content-center row ">
                <button class="btn btn-outline-success " (click)="onSubmit(BookLabTest) " [disabled]="BookLabTest.invalid ">Book Now</button>
            </div>



        </form>
    </div>
    <div class="panel-body bg-info col-md-4 ">
        <mat-toolbar>
            <h2>Your Cart</h2>
            <span class="fill-remaining-space "></span>
        </mat-toolbar>
        <form class="example-form " [style.fontSize.px]="14 ">

        </form>
    </div>

</div>