<!-- <mat-carousel timings="200ms ease-in" [autoplay]="true">
    <mat-carousel-slide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#ffffff" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel> -->

<!-- <app-book-lab-test></app-book-lab-test> -->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url(assets/img/intro-carousel/1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Home Sampling</h2>
                            <p>Lab Test Made Easy <br> Blood Test at Home</p>
                            <a href="inner-page.html" class="btn-get-started scrollto animate__animated animate__fadeInUp">Book Test</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(assets/img/intro-carousel/2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Click to Your Report </h2>
                            <p class="animate__animated animate__fadeInUp">View your laboratory test report here</p>
                            <a href="http://182.180.114.149:1260/lims/patients/login.aspx" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get
            Online Reports</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(assets/img/intro-carousel/3.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Working Time</h2>
                            <p class="animate__animated animate__fadeInUp">Monday - Satureday <br> 8:00 AM To 11:00 PM
                            </p>
                            <p class="animate__animated animate__fadeInUp">Sunday <br> 8:00 AM To 8:00 PM
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Schedule</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(assets/img/intro-carousel/4.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Coronavirus (COVID-19) section</h2>

                            <p class="animate__animated animate__fadeInUp"> During these testing and tragic times, MinhajLab is with you at every step. Click below to visit our COVID-19 section where we are updating statistic, addressing concern, verifying information, busting myths, sharing resources
                                and providing guidance on where & when to get assistance.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Covid Details</a>
                        </div>
                    </div>
                </div>



            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>
<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="section">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>About Us</h3>
                <p>
                    MinhajLab consolidates local and international healthcare services on its digital portal and provides access to the patients at discounted rates. It also educates patients and guide them to use the services using artificial intelligence. Services include
                    ordering and comparing prices of imaging & lab tests with home sampling, scheduling of home care services, referral guidance for outpatient procedures or surgeries and appointments with local physicians as well as access to International
                    expert physicians for second opinion.</p>
            </header>

            <div class="row about-cols ">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Plan</a></h2>
                        <p>
                            Supporting a clear regulatory framework and market pathway for new, innovative laboratory diagnostics, including laboratory developed tests (LDTs) and in-vitro diagnostics.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 " data-aos="fade-up" data-aos-delay="200">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Mission</a></h2>
                        <p>
                            Our mission is to revolutionize healthcare delivery in cash based healthcare markets. We are using cutting edge technology to consolidate quality healthcare services available in those markets, integrate them with advanced international healthcare systems
                            and eventually connect the whole network directly with patients to make quality health services accessible and affordable.
                        </p>
                    </div>
                </div>



                <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Vision</a></h2>
                        <p>
                            We envision to be a revolutionary digital healthcare organisation aiming to transform the international health markets into a global village, ensuring that accessible and affordable quality healthcare becomes a worldwide phenomenon.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End About Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="section">
        <div class="container" data-aos="fade-up">

            <header class="section-header wow fadeInUp">
                <h3>Services</h3>
                <p>Clinical laboratory services means clinical laboratory, anatomic pathology or other diagnostics testing services (including, without limitation, routine and esoteric clinical laboratory services (including genetics testing), clinical laboratory
                    services involved with clinical</p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="">Laboratory</a></h4>
                    <p class="description">Clinical laboratory services means professional and technical laboratory services provided by an independent clinical laboratory when ordered by a physician or other licensed practitioner of the healing arts within the scope of his
                        or her practice as defined by the laws of the state in which he or she practices.</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                    <h4 class="title"><a href="">Radiology</a></h4>
                    <p class="description">Radiology services include medically necessary services provided by qualified practitioners in the provision of diagnostic radiology, diagnostic ultrasound, nuclear medicine, radiation oncology, and magnetic resonance imaging (MRI).
                        These services may only be performed upon the order of a qualified practitioner.</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="ion-ios-body-outline"></i></div>
                    <h4 class="title"><a href="">Physiotherapy</a></h4>
                    <p class="description">Physiotherapy means any form of the following administered by a Doctor for treatment of Sickness or Injury: physical or mechanical; diathermy; ultra-sonic therapy; heat treatment in any form; or manipulation or massage.</p>
                </div>


            </div>

        </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <section class="section" id="portfolio" class="section-bg">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3 class="section-title">Our Department</h3>
            </header>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class=" col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-pathalogy">Chemical Pathology</li>
                        <li data-filter=".filter-Hematology">Hematology</li>
                        <li data-filter=".filter-Molecular">Molecular Biology</li>
                        <li data-filter=".filter-MicroBiology">MicroBiology</li>
                        <li data-filter=".filter-histopathology ">Histopathology </li>
                        <li data-filter=".filter-cytopathology">Cytopathology</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-pathalogy">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
                            <a href="#portfolio" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#portfolio">Chemical Pathology</a></h4>
                            <p>Test</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-Hematology">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/web3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Web 3"><i class="ion ion-eye"></i></a>
                            <a href="#portfolio" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#portfolio">Hematology</a></h4>
                            <p>Test</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-Molecular">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/app2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="App 2"><i class="ion ion-eye"></i></a>
                            <a href="#portfolio" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#portfolio">Molecular Biology</a></h4>
                            <p>Test</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-MicroBiology">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/card2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Card 2"><i class="ion ion-eye"></i></a>
                            <a href="#portfolio" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#portfolio">MicroBiology</a></h4>
                            <p>Test</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-histopathology">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/web2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Web 2"><i class="ion ion-eye"></i></a>
                            <a href="#portfolio" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#portfolio">Histopathology</a></h4>
                            <p>Test</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-cytopathology">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
                            <a href="assets/img/portfolio/app3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="App 3"><i class="ion ion-eye"></i></a>
                            <a href="#portfolio" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="#portfolio">Cytopathology</a></h4>
                            <p>Test</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- ======= Team Section ======= -->
    <section class="section" id="team">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3>Team</h3>
                <p>Team of professionals that we have </p>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">

                        <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
                        <h4>Dr. Haroon Habib</h4>
                        <span>Assistant Professor</span>
                        <span>M.B.B.S.</span>
                        <span>M.phil (Biochem) </span>
                        <span>PhD Scholar (Biochem)</span>
                        <!--  -->

                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
                        <!-- <div class="">
                          <div class=""> -->
                        <h4>Dr. Sajjad Ullah</h4>
                        <span>M.Phil Molecular Biology (CEMB)</span>
                        <span>PhD Human Genetics & Molecular</span>
                        <span>Biology (UHS). Molecular Biologist</span>
                        <!--  -->
                        <!-- </div>
                      </div> -->
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
                        <!-- <div class="">
                          <div class=""> -->
                        <h4>Dr. Romman-Ul-Haq</h4>
                        <span>Consultant Radiolpogist</span>
                        <span>Services Hospital</span>

                        <!--  -->
                        <!-- </div>
                      </div> -->
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
                        <!-- <div class="">
                          <div class=""> -->
                        <h4>Dr. Rahila Khalid</h4>
                        <span>M.B.B.S, MCPS</span>
                        <span>Radiolpogist</span>
                        <!--  -->
                        <!-- </div>
                      </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
                        <!-- <div class="">
                          <div class=""> -->
                        <h4>Amir Mustafa</h4>
                        <span>M.Sc. (PU), B.Sc. (MLT) PU</span>
                        <span>Sr. Medical Technologist</span>
                        <!--  -->
                        <!-- </div>
                      </div> -->
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section class="section" id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p>You can Reach to us by following these</p>
            </div>
            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>Basement Shabnam Centre. 
                        <br> Opp. Shalimar Hospital Link Road Lahore.</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+923004102701">+923004102701</a></p>
                        <p><a href="tel:042 36821981,36880455">042 36821981, 36880455</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@minhajlab.com.pk">info@minhajlab.com.pk</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->